<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
          <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
            </script>
            <script type="text/javascript">
            MathJax.Hub.Config({
                  tex2jax: {
                          inlineMath: [ ['$$','$$'], ['\\(','\\)'] ],
                          processEscapes: true
                  },
                TeX: { 
                        Macros: { 
                            R: '{\\mathbb{R}}', 
                            N: '{\\mathbb{N}}', 
                            Z: '{\\mathbb{Z}}', 
                            C: '{\\mathbb{C}}', 
                            F: '{\\mathbb{F}}', 
                            mex: '{\\mathop{\\operatorname{mex}}}', 
                            lcm: '{\\mathop{\\operatorname{lcm}}}', 
                     } 
                    }, 
                });
                </script>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-4171915-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
          
          </script>

    </head>
    <body class="content">
        <div id="wrapper">
            <div id="header">
                <div id="blog-title">
                    <a href="/">The Art Gallery Guardian</a>
                </div>
                <div id="navigation">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="/files/cv.pdf">CV</a></li>
                        <li><a href="/research.html">Projects/Research/Ideas</a></li>
                        <li><a href="/tools.html">Tools</a></li>
                        <li><a href="/links.html">Links</a></li>
                        <li><a href="/archive.html">Archive</a></li>
                    </ul>
                </div>
            </div>
            <div id="content">
                <h1>$title$</h1>
                $body$
            </div>
            <div id="footer">© 2010 - 2013 Chao Xu. Licensed under <a href="http://www.wtfpl.net/txt/copying/">WTFPL v2</a> unless otherwise specified. </div>
        </div>
    </body>
</html>
